.container {
  display: flex;
  padding: 10px;
}

.multi-level {
  width: 50%;
  padding: 20px;
}

.output-container {
  width: 50%;
  padding: 20px;
}

.output {
  min-height: 400px;
  max-height: 400px;
  overflow-x: auto;
  width: 100%;
  border: 1px solid grey;
  padding: 15px 0 15px 15px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .output-container {
    margin-top: 200px;
    width: 95%
  }

  .multi-level {
    width: 95%;
  }

  .output {
    width: 95%;
  }
}